<template>
  <div>
    <span  class="full-width">{{time}}</span>
    <game-time />
    <team-bonus team="home"/>
    <team-bonus team="visitor"/>
  </div>
</template>

<script>
  import handleKey from '@/lib/keyHandler'
  import GameTime from './Board/GameTime'
  import TeamBonus from './Board/TeamBonus'
  import {mapGetters} from 'vuex'
  export default {
    name: 'board',
    components: {
      GameTime,
      TeamBonus
    },
    computed: {
      ...mapGetters({
        time: 'game/time'
      })
    },
    methods: {
      keyEvent (e) {
        handleKey(e.key)
      }
    },
    created () {
      window.addEventListener('keydown', this.keyEvent)
    }
  }
</script>
