<template>
  <div>
    <div class="game-time">{{time}}</div>
    Home Score: <team-score team="home" />
    Visitor Score: <team-score team="visitor" />
    Home Foul: <team-fouls team="home"/>
    Visitor Foul: <team-fouls team="visitor"/>
  </div>
</template>

<script>
import TeamScore from './TeamScore'
import TeamFouls from './TeamFouls'
import {mapGetters} from 'vuex'
export default {
  name: 'GameTime',
  components: {
    TeamScore,
    TeamFouls
  },
  computed: {
    ...mapGetters({
      time: 'game/time'
    })
  }
}
</script>
