<template>
  <div>
    <div class="foul">{{fouls}}</div>
  </div>
</template>

<script>
export default {
  name: 'TeamFoul',
  props: {
    team: {
      type: String,
      required: true
    }
  },
  computed: {
    fouls () {
      return this.$store.getters['teams/' + this.team].fouls
    }
  }
}
</script>
