<template>
  <div>sdf
    <div class="score" :class="team">{{score}}</div>
  </div>
</template>

<script>
  export default {
    name: 'TeamScore',
    props: {
      team: {
        type: String,
        required: true
      }
    },
    computed: {
      score () {
        return this.$store.getters['teams/' + this.team].score
      }
    }
  }
</script>
