<template>
  <div>
    {{team}} <div class="bonus" :class="team"><span class="button" v-for="i in 2" :key="i" :class="onOrOff(i)"></span></div>
  </div>
</template>

<script>
export default {
  name: 'TeamBonus',
  props: {
    team: {
      type: String,
      required: true
    }
  },
  computed: {
    bonus () {
      return this.$store.getters['teams/' + this.team].bonus
    }
  },
  methods: {
    onOrOff (i) {
      return i <= this.bonus ? 'on' : 'off'
    }
  }
}
</script>

<style scoped>
.button {
  width: 10px;
  height: 10px;
  display: block;
}
.on {
  border: 1px solid #ff0000
}
.off {
  border: 1px solid #000000
}
</style>
