<template>
  <div id="app">
    <score-board></score-board>
  </div>
</template>

<script>
  import ScoreBoard from '@/components/Board'

  export default {
    name: 'basketball-scoreboard',
    components: {
      ScoreBoard
    }
  }
</script>

<style>
  /* CSS */
</style>
